.container {
  display: flex;
  width: 100%;
}

.leftArea, .rightArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  background: #F1F1F2;
  overflow: hidden;
  //padding: 1.2rem 1.6rem;
}

.leftArea {
  justify-content: space-between;
}

.rightArea {
  background: #fff !important;
  padding: 1.2rem 1.6rem;
}

.inputArea {
  display: flex;
  align-items: center;
  padding: 1.6rem 1.6rem 1.2rem 1.6rem;
  width: 100%;
  //background: #fff;

  input {
    flex: 1;
    height: 3.2rem;
  }
}

.footer {
  padding: 1.2rem 1.6rem;
}

.footer, .rightHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1.2rem 0;
}

.arrowBtn {
  background: #fff;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #D5D5D6;
}

.delBtn {
  background: #fff;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 4px;
  border: 1px solid #D5D5D6;
}


.table {
  width: 100%;
  border-collapse: collapse;
  //table-layout: fixed; /* 헤더/바디 폭 싱크 */
  overflow-x: auto;
}

.table th:first-child,
.table td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
}

.table th, .table td {
  border-bottom: 1px solid #f1f1f1;
  padding: .8rem 1.2rem;
  text-align: left;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th {
  background: #EBEBEB;
  font-weight: 600;
  cursor: pointer;
}

.table tr:hover td {
  background: #fafafa;
}

.selectedRow td {
  background: #e2f0fe;
}

.sortableHeader {
  align-items: center; /* 세로 가운데 정렬 */
  gap: 0.4rem; /* 텍스트-아이콘 간격 */
  cursor: pointer;
  user-select: none;
  font-weight: 600;

  img {
    display: block; /* baseline 영향 제거 */
    height: 2.1rem; /* 폰트 크기에 맞게 */
    width: auto;
  }
}

.thContent {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  gap: .4rem;
  width: 100%; /* table-layout:fixed에서 내부 폭 계산 안정화 */
}

.thText {
  display: inline-block;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 아이콘 baseline 영향 제거 + 폰트 크기에 맞춤 */
.sortableHeader img {
  display: block;
  height: 1em;
  width: auto;
}