.badge {
  border-radius: 20px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  height: 24px;

  &.noBoxShadow {
    box-shadow: none !important;
  }

  .title {
    color: #fff;
    white-space: nowrap;
  }

  .o {
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    border-radius: 4px;
  }
}