.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  align-self: stretch;
  border-bottom: 1px solid #D5D5D6;
}

.logoRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  align-self: stretch;
}

.logoImage {
  width: 16.6rem;
  height: 4rem;
  aspect-ratio: 83 / 20;
  position: relative;
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #363637;
}

.formSection {
  display: flex;
  width: 76rem;
  padding: 4.8rem 3.2rem 0 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.formGroup {
  display: flex;
  padding: 4.4rem 1.6rem 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.6rem;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #EBEBEB;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.resetBtn {
  width: 100%;
  height: 4.8rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D5D5D6;
  border-radius: 8px;
}

//.btnActive {
//  background: #0070D4 !important;
//}