@use '@/shared/styles/media' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  table-layout: auto;
  //min-width: 120rem;
  white-space: nowrap;
  border-radius: 6px;
  overflow: hidden;
  @include mobile {
    min-width: 80rem;
  }
}

.tr {
  background-color: #fff;
  border-radius: 6px;
}

.th,
.td {
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.th {
  background-color: #EBEBEB;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.4rem;

  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

thead tr:last-child .th {
  border-bottom: none;
}

tbody tr:first-child .td {
  border-top: none;
}

.td {
  font-size: 1.5rem;
}

//.tr:hover {
//  background-color: #E2F0FE;
//}

.checkbox {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.sortIcon {
  margin-left: 6px;
  font-size: 1.2rem;
  opacity: 1;
}

.cellContent {
  max-height: 3rem !important;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap; /* 또는 여러 줄 허용할 경우 제거 */
  display: -webkit-box;
}