.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  table-layout: auto;
  min-width: 1200px;
}

.tr {
  background-color: #fff;
}

.th,
.td {
  padding: .6rem 1.2rem;
  border: 1px solid #eee;
  text-align: left;
}

.th {
  background-color: #EBEBEB;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.td {
  font-size: 15px;
}

.tr:hover {
  background-color: #f5f5f5;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.sortIcon {
  margin-left: 6px;
  font-size: 12px;
  opacity: 1;
}

.cellContent {
  max-height: 3rem; /* ✅ 원하는 최대 높이 설정 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* 또는 여러 줄 허용할 경우 제거 */
  display: -webkit-box;
}