@use 'src/shared/styles/media' as *;

.container {
  display: flex;
  gap: 12px;
  flex: 1 1 0;
  overflow: auto;

  @include fullScreen-desktop {
    flex-direction: column;
  }

  .left_content {
    width: 312px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    @include fullScreen-desktop {
      height: auto;
    }

    .header {
      display: flex;
      gap: 8px;

      & div:last-child {
        margin-left: auto;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 150%;
        }

        .time {
          font-size: 1.2rem;
          color: #98a6c0;
        }
      }

      .refresh {
        display: flex;
        padding: 4px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.10);
        width: fit-content;
        height: fit-content;
        margin: 6px 0 6px auto;
      }
    }

    .item_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4px;
      margin-top: 24px;

      .item {
        padding: 8px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        font-weight: 700;

        .step_box {
          background: #1a73e8;
          border-radius: 8px;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 4.5px 0;
        }

        .step_num {
          font-size: 2.2rem;
          color: #1a73e8;
        }
      }
    }

    .list_container {
      position: relative;
      flex: 1;
      margin-top: 32px;
      border-radius: 12px;
      border: 1px solid #1f355d;
      background: #0b1527;
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 8px;
      @include fullScreen-desktop {
        display: none;
      }

      .tab_bg {
        width: 50%;
        height: 100%;
        border-radius: 10px;
        background: #1489F2;
        position: absolute;
        top: 0;
        z-index: 0;
      }

      .tab {
        position: relative;
        border-radius: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        color: #c3ccdd;
        background: #162b4e;
        display: flex;

        .tab_item {
          z-index: 1;
          cursor: pointer;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px 16px;

          &.active {
            color: #fff;
          }
        }
      }

      .button_wrap {
        display: flex;
        align-items: center;
        justify-content: end;

        button {
          background: none;
          color: #c3ccdd;
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 150%;
          display: flex;
          align-items: center;
          gap: 1px;
          padding: 2px 6px;
        }
      }

      .list {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .right_content {
    position: relative;
    flex: 1 1 0;
    width: 100%;
    height: 100%;

    .img_wrap {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
