@use '@/shared/styles/media' as *;

.container {
    display: flex;
    padding: 0 .4rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 700;
    line-height: 150%;
    transition: all ease .3s;
    &:hover {
        color: #1a73e8;
    }
}

.logo {
    position: relative;
    display: none;

    @include desktop {
        display: block;
    }

}