@use '@/shared/styles/media' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: stretch;
}

.searchFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
    gap: 3.6rem;
  }
}

.wrapper {
  display: flex;
  height: 4.4rem;
  align-items: center;
  gap: .8rem;
  width: 100%;

  @include mobile {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  min-width: 4rem;
  padding: 0 1.2rem;
  gap: 3.2rem;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D5D5D6;
  height: 4.4rem;

  @include mobile {
    flex: 1;
  }
}

.input {
  flex: 1;
  height: 100%;
  pointer-events: auto;
  background: none;
  font-size: 1.5rem;
}

.inputWrapper input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.inputProps {
  border-radius: 24px !important;
  box-shadow: 0 0 12px 0 rgba(0, 71, 134, 0.10) !important;
  border: 1px solid #9fd1ff !important;
}

.filter {
  display: flex;
  padding: .4rem .8rem;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  align-self: stretch;
  color: #363637;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  height: 4.4rem;
  box-sizing: border-box;
  user-select: none;
  @include mobile {
    justify-content: flex-start;
  }
}

.open {
  background: #E5F3FF !important;
  border-radius: 20px !important;
  border: 1px solid #9FD1FF !important;
  color: #0061B8 !important;
}

.filterArea {
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.6rem;
  align-self: stretch;
  border-top: 1px solid #D5D5D6;
  background: #EBEBEB;
}

.filterInner {
  display: flex;
  align-items: flex-end;
  gap: 2.4rem;
  flex: 1;
  width: 100%;
  height: 6.2rem;
  flex-wrap: wrap;
}

.filterItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: .6rem;
  align-self: stretch;
}

.filterItems span {
  color: #363637;
  font-size: 1.3rem;
  font-style: normal;
  /*font-weight: 600;*/
  line-height: 150%;
}

.buttonArea {
  width: 10rem;

  @include mobile {
    width: 100%;
  }
}