.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999999;
}

.modal {
    background-color: white;
    border-radius: 8px;
    min-width: 40rem;
    max-width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal.darkMode {
    background-color: #0e172b;
    box-shadow: 0 0 10px 5px rgba(0, 25, 48, 0.05);
    border: 1px solid #1f355d;

    .header {
        border-bottom: 1px solid #3b4868;
    }

    .title {
        color: #fff;
    }
}

.header {
    display: flex;
    padding: 1.2rem 1.6rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #D5D5D6;
}

.title {
    color: #2A2A2B;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0;
}

.closeButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
}

.closeButton:hover {
    color: #000;
}

.maxWidth-sm {
    max-width: 400px;
}

.maxWidth-md {
    max-width: 600px;
}

.maxWidth-lg {
    max-width: 800px;
}

.maxWidth-xl {
    max-width: 1000px;
}

.maxWidth-xxl {
    max-width: 90vw;
}

.maxWidth-full {
    max-width: 100vw;
    height: 100vh;
    border-radius: 0;
}


/**/

.minWidth-sm {
    max-width: 400px;
}

.minWidth {
    max-width: 600px;
}

.minWidth {
    max-width: 800px;
}

.minWidth {
    max-width: 1000px;
}

.minWidth-full {
    max-width: 100vw;
    height: 100vh;
    border-radius: 0;
}