.container {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.contentArea {
  display: flex;
  height: 50vh;
}

.leftPanel {
  width: 35rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D5D5D6;
}

.treeArea {
  overflow: auto;
}

.rightPanel {
  width: 25vw;
  padding: 1.6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  align-self: stretch;
}