@import "src/shared/styles/scroll";

.container {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  position: relative;
}

.station_overlay {
  position: relative;
  display: flex;
  padding: 22px 20px;
  height: 44px;
  border-radius: 28px;
  background: radial-gradient(55.21% 49.53% at 50% 0%, rgba(0, 132, 244, 0.20) 0%, rgba(0, 132, 255, 0.00) 100%), #0e172b;
  box-shadow: 0.5px 0.5px 2px 0 rgba(255, 255, 255, 0.20) inset, 0 8px 15px 0 rgba(0, 0, 0, 0.40);
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 4px;

  &::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid;
    border-color: #0e172b transparent transparent transparent;
  }

  .button {
    background: #162b4e;
    box-shadow: 0.5px 0.5px 2px 0 rgba(255, 255, 255, 0.20) inset, 0 15px 40px 0 rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #e0e4e9;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    &:first-of-type {
      margin-left: 4px;
    }

    span {
      line-height: 1;
    }

    .num {
      font-weight: 700;
      color: #ff1500;
    }
  }

}

.overlay_in_overlay {
  width: 316px;
  height: 422px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1.5px solid #536688;
  background: #162b4e;
  box-shadow: 0 8px 15px 5px #001930;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  overflow: hidden;

  .header {
    display: flex;
    padding: 16px 16px 12px 16px;
    gap: 6px;
    align-items: center;
    background: radial-gradient(56.23% 100% at 50% 100%, rgba(255, 21, 0, 0.20) 0%, rgba(255, 21, 0, 0.00) 100%), #1f355d;
    border-radius: 16px 16px 0 0;

    & span:first-of-type {
      font-size: 18px;
      font-weight: 700;
    }

    & span:last-of-type {
      color: #c3ccdd;
      font-size: 13px;
      margin-left: 2px;
    }
  }

  .train_table {
    overflow-y: auto;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    @extend .custom-scroll3;
  }

  .train_container {
    flex: 1;
    padding: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
  }

  .station_container {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  .station_table {
    flex: 1;
    overflow-y: auto;

    div {
      @extend .custom-scroll3;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      overflow: auto;
      border: none;
    }

    thead th {
      position: sticky;
      top: 0;
      border-radius: 0;
    }

    tr {
      background: transparent;
    }

    td {
      border: none;
      padding: 4px 16px;
    }

    th {
      background: #1f355d;
      color: #98a6c0;
    }
  }
}

.legend {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  display: flex;
  padding: 4px 12px;
  gap: 8px;
  align-items: center;

  .item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 4px;
    }
  }
}