.breadCrumb {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.breadCrumb span {
  display: flex;
  height: 2rem;
  padding: 0 .2rem;
  align-items: center;
  gap: 0;
  color: #6B6B6E;
  font-weight: 500;
}

.isFirst {
  gap: .2rem !important;
}

.isMatch {
  color: #0061B8 !important;
  font-weight: 600 !important;
}