@use '../shared/styles/media' as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pretendard: 'Pretendard Variable', sans-serif;
  --color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

/*@media (max-width: 1520px) {*/
/*  html {*/
/*    font-size: 50% !important;*/
/*  }*/
/*}*/

html {

  font-size: 62.5%; /* 1rem = 10px */

  //@include fork-desktop {
  //  font-size: 80%;
  //}
  //
  //@include fullScreen-desktop {
  //  font-size: 62.5%;
  //}

  @include small-desktop {
    font-size: 58%; // 9.28px
  }

  @include laptop {
    font-size: 56.25%; // 9px
  }

  @include tablet {
    font-size: 53.125%; // 8.5px
  }

  @include mobile {
    font-size: 50%; // 8px
  }

  @include small-mobile {
    font-size: 46.875%; // 7.5px
  }
}

span {
  line-height: 150%;
  letter-spacing: 0;
  font-style: normal;
}

button {
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: var(--font-pretendard);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.font {
  letter-spacing: 0;
  line-height: 150%;
  font-style: normal;
}

.font_sm {
  font-size: 1.3rem;
}

.font_md {
  font-size: 1.4rem;
}

.font_lg {
  font-size: 1.5rem;
}

.font_xl {
  font-size: 1.7rem;
}

.text_bold {
  font-weight: 700;
}

.primary {
  color: #0061B8;
}

