.menuItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: .4rem;
}

.menuItemWrapper_open {
  /*background: #C8E5FF;*/
  /*color: #fff;*/
}

.menuItem {
  cursor: pointer;
  padding: 1.2rem 1.2rem 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  user-select: none;
  width: 100%;
  transition: background 0.2s ease;
  position: relative;
}

.menuOpen {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.10) 2.34%, rgba(255, 255, 255, 0.00) 98.18%), #0061B8 !important;
  color: #fff !important;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(12, 50, 131, 0.05), 0 4px 8px 0 rgba(12, 50, 131, 0.30);;
}

.menuItem:hover {
  /*background-color: #f2f2f2;*/
}

.chevron {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
  font-size: 1rem;
}

.open {
  transform: rotate(180deg);
}

.match {
  color: #0061B8 !important;
}

.childrenWrapper {
  padding-left: 1.2rem;
  box-sizing: border-box;
  background: #C8E5FF;
  border-radius: 6px;
  border-bottom: 1px solid #EBEBEB;
  width: 100%;
}

.childrenWrapper .menuItem::before {
  content: '•';
  font-size: 1.2rem;
  color: #333;
  margin-right: 0.6rem;

  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.childrenWrapper--open {
  background: #C8E5FF !important;
  color: #fff;
}
