@use '@/shared/styles/media' as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;

  @include mobile {
    gap: 2.6rem;
  }
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
    gap: 1.2rem;
  }
}