.item {
  width: 100%;
  background: #1f355d;
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.train_name {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.train_num {
  margin-left: 6px;
  color: #c3ccdd;
}


.item_route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 0;
  color: #e0e4e9;
}

.item_train {
  display: flex;
  align-items: center;
  gap: 1px;
  position: relative;
}

