$header-height: 3.6rem;

.container {
  display: flex;
  height: 43rem;
}

.leftArea {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-left: 1.6rem;
}

.inputArea {
  display: flex;
  //padding: 1.2rem 0;
  height: 6rem;
  align-items: center;
  .input {
    display: flex;
    line-height: $header-height; // 텍스트 수직 중앙
    padding: 0 1.2rem;
    height: $header-height;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    border-radius: 6px;
    border: 1px solid #D5D5D6;
  }
}

.stationArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 6rem);

  .header {
    display: flex;
    width: 100%;
    background: #EBEBEB;
    border-radius: 6px 6px 0 0;
    align-items: center;
    min-height: $header-height;

    .item {
      font-size: 1.4rem;
      font-weight: 600;
      padding: 0 1.2rem;
    }

    .number {
      width: 40%;
    }

    .name {
      width: 60%;
    }
  }

  .stationList {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .station {
      display: flex;
      font-size: 1.5rem;
      cursor: pointer;
      user-select: none;
      &:hover {
        background: #E2F0FE;
      }
      .item {
        padding: .6rem 1.2rem;
      }

      .number {
        width: 40%;
      }

      .name {
        width: 60%;
      }
    }
  }
}

.switchBtnArea {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .8rem;
  align-self: stretch;

  button {
    display: flex;
    height: 2.8rem;
    justify-content: center;
    align-items: center;
    padding: 0 .6rem;
    border-radius: 4px;
    border: 1px solid #D5D5D6;
    background: #D5D5D6;
  }

  .active {
    opacity: 1;
    background: #fff;
  }
}

.rightArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  align-self: stretch;
  height: 100%;
  padding-right: 1.6rem;

  span {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .count {
    color: #0061B8;
    font-family: 'Pretendard GOV';
  }

  .header {
    height: 6rem;
    //padding: 1.2rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .inner {
      height: 3.6rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .buttonArea {
        display: flex;
        align-items: center;
        gap: .8rem;
        height: 100%;

        button {
          display: flex;
          padding: 6px;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          background: #D5D5D6;
        }
      }
    }
  }

  .addedArea {
    width: 100%;
    //padding-right: 1.6rem;
    height: calc(100% - 6rem);
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      width: 100%;
      background: #EBEBEB;
      border-radius: 6px 6px 0 0;
      align-items: center;
      height: $header-height;
      .item {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0 1.2rem;
      }

      .order {
        width: 15%;
      }

      .number {
        width: 25%;
      }

      .name {
        width: 60%;
      }
    }

    .addedStationArea {
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      min-height: 0;
      .addStation {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
        &:hover {
          background: #E2F0FE;
        }
        .item {
          padding: .6rem 1.2rem;
        }

        .order {
          width: 15%;
        }

        .number {
          width: 25%;
        }

        .name {
          width: 60%;
        }
      }
    }
  }
}

.selected {
  background: #E2F0FE;
}