@use '@/shared/styles/media' as *;

.portalHeader {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  background-color: #fff;
  padding: 0 4rem;
  min-height: 7.2rem;

  @include desktop {
    min-height: 6.4rem;
  }
}

.wrapper {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  flex: 1;
  height: 100%;
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  flex: 1;
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;

  @include desktop {
    display: none;
  }
}

.content {
  display: flex;
  gap: 2.4rem;
  height: 100%;
}

.menuArea {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*height: 5rem;*/
}

.menuWrapper {
  display: flex;
  gap: 5.6rem;
  align-items: center;

  @include small-desktop {
    gap: 4.6rem;
  }
}

.mainTitle {
  color: #363637;
  font-size: 2.2rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  margin: auto 0;
  white-space: nowrap;

  @include desktop {
    display: none;
  }
}