@import "src/shared/styles/scroll";

.filter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 40px;
  margin-top: 20px;
}

.dropdown_parent {
  width: 120px;
}

.dropdown {
  padding: 0 12px;
  border-radius: 8px;
  background: #0e172b;
  color: #fff;
  border: 1px solid #1f355d;
}

.dropdown_option {
  width: 100% !important;
  //background: #1f355d !important;
}

.search_parent {
  flex: 1;
  background: #0e172b !important;
  border: 1px solid #1f355d;

  input {
    background: transparent;
    color: #fff;
  }

  input::placeholder {
    font-size: 1.4rem;
  }

  svg path {
    fill: #fff;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
  }
}

.contents {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  margin-top: 12px;
  margin-bottom: 20px;
  padding-right: 5px;
  @extend .custom-scroll2

}

.item {
  width: 100%;
  background: #1f355d;
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.train_name {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.train_num {
  margin-left: 6px;
  color: #c3ccdd;
}


.item_route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 0;
  color: #e0e4e9;
}

.item_train {
  display: flex;
  align-items: center;
  gap: 1px;
  position: relative;
}


