.exportBtn {
  width: 8rem;
  height: 3.2rem !important;
  min-width: 6.4rem;
  padding: 0 1rem;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #5EB2FE;
  background: #E2F0FE;
  color: #00417A;
  font-size: 1.4rem;
}