.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footerWrapper {
  display: flex;
  padding: 2.4rem 0 1.6rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
  background: #F1F1F2;
}

.footerLogoArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footerLogoAreaRight {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}